footer.footer
    .footer__container.container
        .footer__menu
            .footer__logo.logo Brit<span>lex</span>
            .footer__text Terms and Conditions • Privacy Policy • Cookie Policy