header.header
    .header__container.container
        .header__menu
            .header__logo.logo Brit<span>lex</span>
            nav.menu__nav 
                ul.menu__list
                    li
                        a.menu__link(href="#") Home
                    li
                        a.menu__link(href="#") Skills
                    li
                        a.menu__link(href="#") About Us
                    li
                        a.menu__link(href="#") Pricing
                    li
                        a.menu__link(href="#") Contacts
            a.menu__btn(href="#") Let’s Talk
            a.header__burger(href="#")
                span
        .menu__burger
            ul.menu__burger_list
                li
                    a.menu__burger_link(href="#") Home
                li
                    a.menu__burger_link(href="#") Skills
                li
                    a.menu__burger_link(href="#") About Us
                li
                    a.menu__burger_link(href="#") Pricing
                li
                    a.menu__burger_link(href="#") Contacts
            a.menu__burger_btn(href="#") Let’s Talk